<div class="asked-container">
  <div class="left-asked">
    <h3>Frequently Asked <strong> Questions</strong></h3>
    <p>
      Have questions about your HVAC system? You’re not alone. We’ve compiled
      answers to some of the most common inquiries we receive. Whether you need
      information on maintenance, repairs, or system performance, you’ll find
      helpful answers here. If you have any additional questions, feel free to
      reach out to our team.
    </p>
  </div>
  <div class="right-asked">
    <div class="asked-item">
      <details>
        <summary>
          How Often Does My Air Conditioning System Need Maintenance?
        </summary>
        <p>
          We recommend scheduling an AC inspection and tune-up before the
          cooling season begins. Late winter is ideal for an AC tune-up, but you
          can also include it as part of your early spring cleaning routine to
          ensure your system is ready to keep your building cool.
        </p>
      </details>
    </div>
    <div class="asked-item">
      <details>
        <summary>What Size Should My Air Conditioner Unit Be?</summary>
        <p>
          Before replacing your air conditioning unit, consult with one of our
          certified technicians. We will determine the ideal system size for
          your needs by considering factors such as your building’s square
          footage, window types, number of occupants, and insulation.
        </p>
      </details>
    </div>
    <div class="asked-item">
      <details>
        <summary>Why Does My AC Freeze Up After Running for a While?</summary>
        <p>
          This issue is often caused by a clogged filter that restricts airflow,
          but it can also result from a dirty evaporator coil, a malfunctioning
          blower motor, or low refrigerant levels. If your AC freezes up after
          operating for some time, contact us. We’ll dispatch a technician to
          diagnose and resolve the problem.
        </p>
      </details>
    </div>
    <div class="asked-item">
      <details>
        <summary>How to Tell If You Need a New HVAC Unit</summary>
        <p>
          Replacing your HVAC unit may be more cost-effective than repair if
          your system is over 15 years old, improperly sized for your space, or
          showing signs of declining performance even with regular maintenance.
          If your air conditioner is as old as your heater, it’s often advisable
          to replace both units simultaneously.
        </p>
      </details>
    </div>
    <div class="asked-item">
      <details>
        <summary>Are Routine HVAC Services Worth the Cost?</summary>
        <p>
          Routine maintenance for your heating and air conditioning systems
          might seem unnecessary, especially if everything appears to be working
          fine. However, scheduling annual service visits is essential to:
          <br />

          -Catch potential issues early and avoid costly repairs <br />
          -Keep your HVAC unit running efficiently, helping to reduce energy
          costs <br />
          -Extend the lifespan of your system, delaying the need for a
          replacement <br />
          -For a personalized HVAC maintenance plan, contact our team today.
          <br />
        </p>
      </details>
    </div>
    <div class="asked-item">
      <details>
        <summary>How Much Does Heater Repair Cost?</summary>
        <p>
            Heater repair costs in Tampa, FL, depend on the parts needed and repair time. While we can't provide an exact quote without inspecting your unit, we'll always give you a detailed cost breakdown before starting any work.
        </p>
      </details>
    </div>
  </div>
</div>
