<div class="container">
  <form
    class="form"
    action="https://formsubmit.co/carrascoacrepairsllc@gmail.com"
    method="POST"
  >
    <div class="descr">
      <h4>Reliable A/C Services in Tampa Comfort Is Just A Call Away!</h4>
      Contact us
    </div>
    <div class="input">
      <input required="" autocomplete="off" type="text" />
      <label for="name">Name</label>
    </div>

    <div class="input">
      <input required="" autocomplete="off" name="email" type="text" />
      <label for="email">E-mail</label>
    </div>

    <div class="input">
      <textarea required="" cols="30" rows="1" id="message"></textarea>
      <label for="message">Message</label>
    </div>
    <button type="submit">Send message →</button>
    <a href="tel:1234567890"><button>Call Now</button></a>
  </form>
</div>
