@import './variables';

.about-why{
    background-color: $darkBlue;
    h2{
        background-color: $deepSaffron;
        color: white;
        padding: .5rem 1rem;
        text-align: center;
        text-transform: uppercase;
    }
    ul{
        padding: 1.2rem;
        margin-left: 1.5rem;
        color: white;
        line-height: 2rem;
    }
}