// primary colors
$blue: #1e90ff;
$red: #ff4500;

// navbar colors
$darkBlue: #0a3d62;

// areas and sections colors
$lightGray: #f7f7f7;
$secondayBg: #eaf6ff;

// buttons colors:
$btnRed:$red;  /* with white text */
$btnBlue:$blue;  /* with white text */
$btnRedHover: #cc3700;
$btnBlueHover: #166bb7;

$gondelYello: #FFC107;
$amber: #ffb300;
$warmOrange: #ffa726;
$deepSaffron: #ff9933;

// backgrounds colors:
/*main will be white, header and footer will be $darkBlue;
content background will be $lightGray */
